<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
        </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Witam na stronie bloga!</h2>
        <h3>Witam na stronie bloga!</h3>
        <h4>Witam na stronie bloga!</h4>
    </div>

    {% comment "komentarz autora" %}
    <p>Tutaj lista postów</p>
    {% endcomment %}
    {% for post in posts %}
    <div>
        <p>opublikowany: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <em>{{ post.text|linebreaksbr }}</em>
    </div>
    {% endfor %}
    <div>

    </div>

</body>

</html>