<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a href="">Witam na stronie bloga dla progamistów</a></h1>
        <h2>Blog o programowaniu</h2>
    </div>
    {% comment "Komentarz autora" %}
    Tutaj list postów
    {% endcomment %}
    <div class="content container">
        {% for post in posts %}
        <div class="col-md-8"
            <div class="row">
            <div class="post">
            <div class="data">
                <p>opublikowany: {{ post.publish_date }}</p>
            </div>
                <h2><a href="">{{ post.title }}</a></h2>
                <em>{{ post.text|linebreaksbr}}</em>
            <div class="stopka">
    {% endfor %}
            </div>
            </div>
            </div>
            </div>
</body>
</html>